h1:hover{
    color: white;
    cursor: default;
}


input[type='text']:hover,
input[type='email']:hover,
input[type='password']:hover{
    background-color: purple;
    border-radius: 3px;
}

button.btn:hover{
    background-color: white;
    color: purple;
}