*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: black;
}

.formulario{
    border: 1px solid purple;
    background-color: black;
    padding: 30px;
    max-width: 400px;
    margin: 20px auto;
    border-radius: 5px;
}

h1{
    font-family: 'Poppins', sans-serif;
    margin: 0px 0px 20px;
    color: purple;
    transition: color 1s ease-in-out;
}

input[type='text'],
input[type='email'],
input[type='password']{
    width: 100%;
    border: none;
    padding: 10px;
    outline: none;
    background: none;
    color: white;
    border-bottom: 1px solid purple;
    transition: all 0.5s ease-in-out;
}


button.btn{
    margin: 30px 10px 0 0;
    background-color: purple;
    color: white;
    border: none;
    padding: 15px;
    outline: none;
    transition: all 0.6s ease-in-out;
    cursor: pointer;
    font-weight: bold;
}

::placeholder{
    color: white;
}